{% include '__header.html.twig' %}

{{ phrase('index.message.welcome') }}
<a href="{{ buildLink('account/register') }}">Register</a>
<a href="{{ buildLink('account/login') }}">Login</a>
{% include '__footer.html.twig' %}